<span> {{this.name}}</span>
<span> {{this.email}}</span>
<span> {{this.phone}}</span>
<span> {{this.birthday}}</span>
<span class="actions">

  <!-- <button class="edit btn btn-xs btn-danger">Edit Contact</button> -->
  <button class="delete btn btn-xs btn-warning">Delete</button>
</span>
